/* Add your styles here */
#form{
    position: absolute;
  left: 100px;
  top: 150px;
}

#roundBtn{
    border-radius: 6px;
}

#roundBtn:active{
    background-color: grey;
}

#right {
    float: right;

  }

#result{
    height: "500px";
    width: "500px";
    font-size: "14pt";
    
}

#violet{
    background-color: violet;
}

#indigo{
    background-color: indigo;
    color: white;
}

#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#white{
    background-color: white;
}
